asgiref==3.7.2
requests==2.32.3
Django==5.0.3
django-cors-headers==4.3.1
django-phone-field==1.8.1
djangorestframework==3.15.0
gunicorn==22.0.0
importlib-metadata==6.11.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
lazy-object-proxy==1.10.0
packaging==23.2
psycopg2==2.9.9
python-dotenv==1.0.1
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2024.1
zipp==3.17.0
